# Documentation for these settings: https://pnpm.io/pnpmfile

shared-workspace-lockfile=false

# IMPORTANT: You need set _RUSH_REPO_FOLDER manually before invoking PNPM
# because with "shared-workspace-lockfile=false", this .npmrc file gets resolved
# with a different CWD for each project folder.
global-pnpmfile=${_RUSH_REPO_FOLDER}/common/temp-split/global-pnpmfile.cjs
